In [1]:
import requests
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup

### See Web Page

In [2]:
URL =  "https://coronanepal.live/"

html_page = requests.get(URL).text

In [3]:
#can uncomment below text to see output
#html_page

### Convert them into html format

i.e. < !DOCTYPE html > type

In [4]:
soup = BeautifulSoup(html_page,'html.parser')
#print(soup)

#### Now on the site we want to scrap we must inspect the page i.e. F12 and find out the id of the table we want to scrape

In [5]:
#example is the html id of the table we want to scrape
get_table = soup.find("table",id='example')

#print(get_table)

In [6]:
#geting body under tag <tr> and </tr>
get_table_data = get_table.tbody.find_all("tr")

#get_table_data

In [7]:
#for easiness of converting to dataframe we chose dic
dic = {}

for i in range(len(get_table_data)):
    #all td is one digit list so [0] will bring out the value and string gives the required district name
    key = get_table_data[i].find_all("td")[0].string
    #print(key)
    
    #gives all the values including some unrequired value but it can be easily modified by pandas 
    values = [a.string for a in get_table_data[i].find_all("td")]
    #print(key,values)
    dic[key] = values
    
data=pd.DataFrame(dic).iloc[3:,:].T   
data.index_name='जिल्ला'
columns_name = ['कुल संक्रमित','जम्मा मृत्यु','निको भएको']
data.columns = columns_name
data

             कुल संक्रमित जम्मा मृत्यु निको भएको
अछाम                 ६४६           १          ७
अर्घाखाँची           ३४१           २          २
बाग्लुङ              २२६           १         १३
बैतडी                २७६           ०          ५
बझाङ                 १७३           ०          १
...                   ...          ...       ...
उदयपुर                ८२           ०         ३८
काठमाडौं             २४५           ३         २९
भक्तपुर               ४६           ०          ८
ललितपुर               ७७           २          २
रुकुम पश्चिम          ३८           ०          ०

[77 rows x 3 columns]

In [8]:
data.head()

           कुल संक्रमित जम्मा मृत्यु निको भएको
अछाम               ६४६           १          ७
अर्घाखाँची         ३४१           २          २
बाग्लुङ            २२६           १         १३
बैतडी              २७६           ०          ५
बझाङ               १७३           ०          १

In [9]:
data.tail()

             कुल संक्रमित जम्मा मृत्यु निको भएको
उदयपुर                ८२           ०         ३८
काठमाडौं             २४५           ३         २९
भक्तपुर               ४६           ०          ८
ललितपुर               ७७           २          २
रुकुम पश्चिम          ३८           ०          ०

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, अछाम to रुकुम पश्चिम
Data columns (total 3 columns):
कुल संक्रमित    77 non-null object
जम्मा मृत्यु    77 non-null object
निको भएको       77 non-null object
dtypes: object(3)
memory usage: 2.4+ KB

In [11]:
data.describe()

       कुल संक्रमित जम्मा मृत्यु निको भएको
count            77           77        77
unique           71            5        44
top              ६           ०          १
freq              3           52         8