In [1]:
import requests
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup

### See Web Page

In [2]:
URL =  "https://coronanepal.live/"

html_page = requests.get(URL).text

In [3]:
#can uncomment below text to see output
#html_page

### Convert them into html format

i.e. < !DOCTYPE html > type

In [4]:
soup = BeautifulSoup(html_page,'html.parser')
#print(soup)

## Data of various districts

#### Now on the site we want to scrap we must inspect the page i.e. F12 and find out the id of the table we want to scrape

In [5]:
#example is the html id of the table we want to scrape
get_table = soup.find("table",id='example')

#get_table

In [33]:
#geting body under tag <tr> and </tr>
get_table_data = get_table.tbody.find_all("tr")

#get_table_data

In [7]:
#for easiness of converting to dataframe we chose dic
dic = {}

for i in range(len(get_table_data)):
    #all td is one digit list so [0] will bring out the value and string gives the required district name
    key = get_table_data[i].find_all("td")[0].string
    #print(key)
    
    #gives all the values including some unrequired value but it can be easily modified by pandas 
    values = [a.string for a in get_table_data[i].find_all("td")]
    #print(key,values)
    dic[key] = values
    
data=pd.DataFrame(dic).iloc[3:,:].T   
data.index_name='जिल्ला'
columns_name = ['कुल संक्रमित','जम्मा मृत्यु','निको भएको']
data.columns = columns_name
data

             कुल संक्रमित जम्मा मृत्यु निको भएको
अछाम                 ६४६           १          ७
अर्घाखाँची           ३४१           २          २
बाग्लुङ              २२६           १         १३
बैतडी                २७६           ०          ५
बझाङ                 १७३           ०          १
...                   ...          ...       ...
उदयपुर                ८२           ०         ३८
काठमाडौं             २४५           ३         २९
भक्तपुर               ४६           ०          ८
ललितपुर               ७७           २          २
रुकुम पश्चिम          ३८           ०          ०

[77 rows x 3 columns]

In [8]:
data.head()

           कुल संक्रमित जम्मा मृत्यु निको भएको
अछाम               ६४६           १          ७
अर्घाखाँची         ३४१           २          २
बाग्लुङ            २२६           १         १३
बैतडी              २७६           ०          ५
बझाङ               १७३           ०          १

In [9]:
data.tail()

             कुल संक्रमित जम्मा मृत्यु निको भएको
उदयपुर                ८२           ०         ३८
काठमाडौं             २४५           ३         २९
भक्तपुर               ४६           ०          ८
ललितपुर               ७७           २          २
रुकुम पश्चिम          ३८           ०          ०

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, अछाम to रुकुम पश्चिम
Data columns (total 3 columns):
कुल संक्रमित    77 non-null object
जम्मा मृत्यु    77 non-null object
निको भएको       77 non-null object
dtypes: object(3)
memory usage: 2.4+ KB

In [11]:
data.describe()

       कुल संक्रमित जम्मा मृत्यु निको भएको
count            77           77        77
unique           71            5        44
top              ६           ०          १
freq              3           52         8

## Total data of Nepal and World

In [12]:
get_table_1 = soup.findAll('div',attrs={'class':'col-lg-3'})
get_table_1=get_table_1[2]

In [13]:
#get_table_1

In [14]:
get_table_data_1 = get_table_1.find_all(["h4",'h1'])
get_table_data_1

[<h4 style="margin-top:10px;font-weight: 600!important;font-size:4vh!important;"><img src="/static/img/nepal_logo.png" style="width:40px;margin-top:-20px; margin-right:10px;"/>	नेपाल</h4>,
 <h4 style="margin-top:10px;">जम्मा परीक्षण</h4>,
 <h1 style="color:white;">३७५,४१६</h1>,
 <h4 style="margin-top:10px;">जम्मा संक्रमित</h4>,
 <h1 style="color:#f38a03">१९,७७१</h1>,
 <h4 style="margin-top:10px;">कूल मृत्यु</h4>,
 <h1 style="color:#e60000 !important;">५६</h1>,
 <h4 style="margin-top:10px;">निको भएको</h4>,
 <h1 style="color:#70a800 !important;">१४,३९९</h1>,
 <h4 style="margin-top:10px;font-weight: 600!important;font-size:4vh!important;"><img src="/static/img/globe_logo.png" style="width:40px;margin-top:-10px; margin-right:10px;"/>	विश्व</h4>,
 <h4 style="margin-top:10px;">जम्मा संक्रमित</h4>,
 <h1 style="color:#f38a03">१७,७५८,८०२</h1>,
 <h4 style="margin-top:10px;">कूल मृत्यु</h4>,
 <h1 style="color:#e60000 !important;">६८२,९९९</h1>,
 <h4 style="margin-top:10px;">निको भएको</h4>,
 <h1 style="color:#70a800 !important;">११,१६१,५०९</h1>]

In [15]:
country = []
data=[]
for i in range(len(get_table_data_1)):
    if i == 0 or i ==9:
        country.append(get_table_data_1[i].text)
    else:    
        value = get_table_data_1[i].text
        data.append(value)

In [16]:
country

['\tनेपाल', '\tविश्व']

In [17]:
data

['जम्मा परीक्षण',
 '३७५,४१६',
 'जम्मा संक्रमित',
 '१९,७७१',
 'कूल मृत्यु',
 '५६',
 'निको भएको',
 '१४,३९९',
 'जम्मा संक्रमित',
 '१७,७५८,८०२',
 'कूल मृत्यु',
 '६८२,९९९',
 'निको भएको',
 '११,१६१,५०९']

In [18]:
dic2={}
for i in range(0,7,2):
    key = data[i]
    value = data[i+1]
    dic2[key]=value

In [19]:
dic2

{'जम्मा परीक्षण': '३७५,४१६',
 'जम्मा संक्रमित': '१९,७७१',
 'कूल मृत्यु': '५६',
 'निको भएको': '१४,३९९'}

In [20]:
dic3={}
for i in range(8,len(data)-1,2):
    key = data[i]
    value = data[i+1]
    dic3[key]=value

In [21]:
dic3

{'जम्मा संक्रमित': '१७,७५८,८०२',
 'कूल मृत्यु': '६८२,९९९',
 'निको भएको': '११,१६१,५०९'}

In [22]:
data=pd.DataFrame([dic2,dic3]).T

In [23]:
data.columns = country

In [24]:
data.T

        जम्मा परीक्षण जम्मा संक्रमित कूल मृत्यु   निको भएको
\tनेपाल       ३७५,४१६         १९,७७१         ५६      १४,३९९
\tविश्व           NaN     १७,७५८,८०२    ६८२,९९९  ११,१६१,५०९

## Gender  Based on Nepal

In [25]:
get_table_2 = soup.findAll('div',attrs={'class':'col-lg-6'})
get_table_2=get_table_2[2]

In [26]:
get_table_data_2 = get_table_2.find_all("h4")
get_table_data_2

[<h4 style="color:white;margin-top:10px;font-weight: 600!important;font-size:3.5vh!important;">लिङ्गका आधारमा</h4>,
 <h4 style="color:#1f81ff;margin-top:10px;font-weight: 600!important;font-size:3.5vh!important;">महिला</h4>,
 <h4 style="color:#ff6cc6!important;margin-top:10px;font-weight: 600!important;font-size:100px!important;line-height: 0.6;">१४९२<br/><span style="font-size:40px;">(११.०%)</span> </h4>,
 <h4 style="color:#1f81ff;margin-top:10px;font-weight: 600!important;font-size:3.5vh!important;">पुरूष</h4>,
 <h4 style="color:#1f81ff!important;margin-top:10px;font-weight: 600!important;font-size:100px!important;line-height: 0.6;">१२०७२<br/><span style="font-size:40px;">(८९.०%)</span></h4>]

In [27]:
l = []
for i in range(1,len(get_table_data_2)):
    l.append(get_table_data_2[i].text.replace(')',""))
print(l)

['महिला', '१४९२(११.०% ', 'पुरूष', '१२०७२(८९.०%']

In [28]:
for i in range(1,len(l),2):
    l[i]= (l[i].split('('))

In [29]:
l

['महिला', ['१४९२', '११.०% '], 'पुरूष', ['१२०७२', '८९.०%']]

In [30]:
dic3={}
for i in range(0,len(l)-1,2):
    key = l[i]
    value = l[i+1]
    dic3[key] = value
dic3

{'महिला': ['१४९२', '११.०% '], 'पुरूष': ['१२०७२', '८९.०%']}

In [31]:
data3=pd.DataFrame(dic3).T

In [32]:
columns = ['जम्मा संक्रमित',"संक्रमित प्रतिशत"]
data3.columns = columns

data3

      जम्मा संक्रमित संक्रमित प्रतिशत
महिला           १४९२           ११.०%
पुरूष          १२०७२            ८९.०%